<div class="row col-md-12">
	<br>
	    <div class="panel-body">
	        <div class="example-box-wrapper">
	        	<!--
	        	<div class="row">
					<h5 class="mrg10A">
						<i class="glyph-icon icon-user"></i> &nbsp;
						<b>Tiger Nixon | Male | 46 years</b>
					</h5>				
				</div>
				-->

				<div class="row">
					<a class="btn btn-default btn-lg" href="#">Tiger Nixon | Male | 46 years <span class="bs-badge badge-default"><i class="glyph-icon icon-user"></i></span></a>
				</div>
				<br>
				<br>

				<div class="row  col-md-5">
					<form>
					  <div class="form-group">
					    <label>Visit Date</label>
					    <input type="text" class="form-control" placeholder="Enter Visit Date">
					  </div>
					  <div class="form-group">
					    <label>Visit Type</label>
							<div class="selector" style="width: 96px;"><span style="width: 74px;">Option 1</span><select name="" class="custom-select">
							<option>Option 1</option>
							<option>Option 2</option>
							<option>Option 3</option>
							<option>Option 4</option>
							</select><i class="glyph-icon icon-caret-down"></i></div>
					  </div>
					  <div class="form-check">
					    <label class="form-check-label">
					      <input type="checkbox" class="form-check-input">
					      &nbsp;&nbsp;Scheduled?
					    </label>
					  </div>
					  <br>
					  <div class="form-check">
					    <label class="form-check-label">
					      <input type="checkbox" class="form-check-input">
					      &nbsp;&nbsp;Emergency?
					    </label>
					  </div>
					  <br>
					  <button type="submit" class="btn btn-primary">Submit</button>
					  <br>
					  <br>
					</form>
				</div>
			</div>
		</div>
</div>