<div class="row col-md-12">
    <br>
        <div class="panel-body">            
            <div class="example-box-wrapper">
                <div class="row">
                    <h5 class="mrg10A">
                        <i class="glyph-icon icon-area-chart"></i> &nbsp;
                        <b>Reports</b>
                    </h5>               
                </div>
                <br>

                <div class="row">
					<div class="content-box remove-border dashboard-buttons clearfix">
                    	<a routerLink="/mrsbora/no-content" class="btn vertical-button hover-blue" title="">
                            <span class="glyph-icon icon-separator-vertical">
                                <i class="glyph-icon icon-calendar"></i>
                            </span>
                            <span class="button-content">Visits</span>
                        </a>
                        <a routerLink="/mrsbora/no-content" class="btn vertical-button hover-red" title="">
                            <span class="glyph-icon icon-separator-vertical">
                                <i class="glyph-icon icon-close"></i>
                            </span>
                            <span class="button-content">Missed</span>
                        </a> 
                        <a routerLink="/mrsbora/no-content" class="btn vertical-button hover-black" title="">
                            <span class="glyph-icon icon-separator-vertical">
                                <i class="glyph-icon icon-bell-slash"></i>
                            </span>
                            <span class="button-content">Defaulters</span>
                        </a> 
                        <a routerLink="/mrsbora/no-content" class="btn vertical-button hover-green" title="">
                            <span class="glyph-icon icon-separator-vertical">
                                <i class="glyph-icon icon-step-backward"></i>
                            </span>
                            <span class="button-content">Returned</span>
                        </a>  

                    </div>
				</div>

            </div>
        </div>
</div>