<div id="page-content-wrapper">
	<div id="page-content">            
		<div class="container">
			<div id="page-title">
				<h2>MRS BORA DRUGS DASHBOARD</h2>
				<p>Drug Orders Dashboard</p>
			</div>

		    <br>
			<div class="row">
				<div class="example-box-wrapper">
		            <div class="scroll-columns">

		            	<div class="col-md-12">
		                    <div class="tile-box bg-white content-box">
		                        <div class="tile-content-wrapper">

		                        		<div align="center">		                            
			                                <div class="content-box remove-border dashboard-buttons clearfix">
			                                	<a routerLink="/mrsbora/no-content" class="btn vertical-button hover-blue" title="">
						                            <span class="glyph-icon icon-separator-vertical">
						                                <i class="glyph-icon icon-plus"></i>
						                            </span>
						                            <span class="button-content">New Order</span>
						                        </a>
						                        <a routerLink="/mrsbora/no-content" class="btn vertical-button hover-green" title="">
						                            <span class="glyph-icon icon-separator-vertical">
						                                <i class="glyph-icon icon-file-text"></i>
						                            </span>
						                            <span class="button-content">Order Status</span>
						                        </a>
						                        <a routerLink="/mrsbora/no-content" class="btn vertical-button hover-orange" title="">
						                            <span class="glyph-icon icon-separator-vertical">
						                                <i class="glyph-icon icon-unsorted"></i>
						                            </span>
						                            <span class="button-content">Sort</span>
						                        </a>
						                        <a routerLink="/mrsbora/no-content" class="btn vertical-button hover-blue" title="">
						                            <span class="glyph-icon icon-separator-vertical">
						                                <i class="glyph-icon icon-print"></i>
						                            </span>
						                            <span class="button-content">Print</span>
						                        </a>
						                        <a routerLink="/mrsbora/no-content" class="btn vertical-button hover-purple" title="">
						                            <span class="glyph-icon icon-separator-vertical">
						                                <i class="glyph-icon icon-linecons-megaphone"></i>
						                            </span>
						                            <span class="button-content">Notifications</span>
						                        </a>

						                        <a routerLink="/mrsbora/no-content" class="btn vertical-button hover-blue" title="">
						                            <span class="glyph-icon icon-separator-vertical">
						                                <i class="glyph-icon icon-gears"></i>
						                            </span>
						                            <span class="button-content">Settings</span>
						                        </a>
						                    </div>
					                	</div>
		                           
		                        </div>
		                    </div>
		                </div>
					</div>
				</div>                
			</div>

			<!-- <router-outlet></router-outlet> -->

			<div class="row">
		    	<div class="col-md-4">		    	
	                <div class="input-group">
	                    <input class="form-control" type="text" placeholder="Enter Patient Identifier or Patient Name">
	                    <span class="input-group-btn">
	                        <button class="btn btn-primary" type="button"><b>Search</b></button>
	                    </span>
	                </div>
	            </div>
			</div>

			<br>

			<div class="row">
				<div class="example-box-wrapper">
		            <div class="scroll-columns">
		                <table class="table table-bordered table-striped table-condensed cf">
		                    <thead class="cf">
		                    <tr>
		                        <th><small>IDENTIFIER</small></th>
							    <th><small>GIVEN NAME</small></th>
							    <th><small>MIDDLE NAME</small></th>
							    <th><small>REGIMEN</small></th>
							    <th><small>ORDER STATUS</small></th>
							    <th><small>OPTIONS</small></th>
		                    </tr>
		                    </thead>
		                    <tbody>
		                    <tr>
		                        <td>KLM001</td>
							    <td>System Architect</td>
							    <td>Edinburgh</td>
							    <td>ATD + EFV</td>
							    <td>Pending</td>
							    <td><span><a routerLink="/mrsbora/no-content">View</a></span></td>
		                    </tr>
		                    </tbody>
		                </table>
            		</div>
            	</div>
            </div>		

		</div>
	</div>
</div>