<br>
<h5><b>PHARMACY</b></h5><div class="divider"></div>
<br>
<br>

<div class="row col-md-12">
        <div class="row col-md-6">
            <form class="form-horizontal row" id="demo-form" data-parsley-validate="" novalidate="">
                <div class="form-group">
                    <label class="col-sm-3 control-label"><small>Request Type</small></label>
                    <div class="col-sm-6">
                        <div class="selector"><span>New/ Refill/ Regimen Change</span>
                            <select name="" class="custom-select">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                            </select>
                            <i class="glyph-icon icon-caret-down"></i>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-2">
                        
                          <input type="checkbox" class="form-check-input">
                          &nbsp;&nbsp;Urgent?
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"><small>Comments</small></label>
                    <div class="col-sm-6">
                        <textarea name="" placeholder="Comments" rows="3" class="form-control textarea-xs"></textarea>
                    </div>
                </div>
                <br>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>

        <div class="row col-md-6">
            <div class="example-box-wrapper">
                <div class="timeline-box timeline-box-left">
                    <div class="tl-row">
                        <div class="tl-item float-right">
                            <div class="tl-icon bg-red">
                                <i class="glyph-icon icon-toggle-on"></i>
                            </div>
                            <div class="popover right">
                                <div class="arrow"></div>
                                <div class="popover-content">
                                    <div class="tl-label bs-label label-danger">Regimen History</div>
                                    <div class="tl-content">
                                        <a href="#"><h5><font color="blue"><u>NVP (Current)</u></font></h5></a><br>
                                       <a href="#"><h5><font color="blue"><u>AZT + EFV (ended 12-Nov-2017)</u></font></h5></a><br>
                                       <a href="#"><h5><font color="blue"><u>DT4 + NVP (ended 11-Mar-2012)</u></font></h5></a><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<!--
<div class="row col-md-6">
    <div class="panel">
        <div class="panel-body">
            <div class="example-box-wrapper">
                <div class="row col-md-6">

                    <div class="col-md-6">
                        <button type="button" class="btn btn-warning mrg20B collapsed" data-toggle="collapse" data-target="#demo-2" aria-expanded="false">
                            <h5 class="mrg10A">
                                <i class="glyph-icon icon-bars"></i> &nbsp;
                                <b>Lab Results</b>
                            </h5>
                        </button>

                        <div id="demo-2" class="collapse" aria-expanded="false" style="height: 0px;">                               
                            <br>

                            <div class="row">
                                <div class="panel-body">                            
                                    <div class="example-box-wrapper">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item">VL: 200dl</a>
                                            <a href="#" class="list-group-item">TB: +ve</a>
                                            <a href="#" class="list-group-item">Pregnancy : +ve</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
-->