<div id="page-content-wrapper">
	<div id="page-content">            
		<div class="container">
			<div id="page-title">
				<h2>PATIENT SEARCH</h2>
				<p>Patient Search</p>
			</div>

			<div class="row">
				<h5 class="mrg10A">{{ totalPatients }} results found {{ patientSearchString }}</h5>
			</div>
			<br>

		    <div class="row">
		    	<div class="col-md-4">		    	
	                <div class="input-group">
	                    <input class="form-control" type="text" [(ngModel)]="searchString" placeholder="Enter Patient Name">
	                    <span class="input-group-btn">
	                        <button class="btn btn-primary" type="button" (click)="loadPatient()">
	                        	<b><small>Search</small></b>
	                        </button>
	                    </span>
	                </div>
	            </div>

	            <div class="col-md-4">
	            	<button class="btn btn-primary" type="button" routerLink="/mrsbora/patient-new">
                    	 <i class="glyph-icon icon-plus"></i>&nbsp;<small>New Patient</small>
                    </button>
	            </div>
			</div>

			<br>
			<div class="row" style="width: 100%; margin: 0px auto;" *ngIf="isLoading" class="glyph-icon remove-border demo-icon tooltip-button icon-spin-5 icon-spin" title="" data-original-title="icon-spin-5" align="center">
			</div>

			<br>
			<div *ngIf="totalPatients > 0" class="row">
				<!--<div class="row" *ngIf="noMatchingResults===false">-->
				<div class="example-box-wrapper">
		            <div class="scroll-columns">
		                <table id="datatable-responsive" class="table table-hover table-bordered responsive no-wrap dataTable dtr-inline" cellspacing="0" width="100%" role="grid" aria-describedby="datatable-responsive_info" style="width: 100%; background-color:white;">
		                    <thead>
		                    <tr>
		                        <th>#</th>
								<th>Identifier(s)</th>
								<th>Patient Name</th>
								<th>Gender</th>
								<th>Age</th>
		                    </tr>
		                    </thead>
		                    <tbody>
		                    	<!--<tr style="cursor: pointer;">-->
		                    	
			                    <tr role="row" class="odd" style="cursor: pointer;" (click)='selectPatient(patient)' *ngFor="let patient of patients | paginate: { itemsPerPage: 10, currentPage: page }; let i = index; ">

									<td>{{ (i + 1)+ (page - 1) * 10 }}</td>
			                        <td>
										<span *ngIf="patient.searchIdentifiers.default">{{patient.searchIdentifiers.default}}</span>			
									</td>
									<td>{{patient.person.display}}</td>
									<td>{{patient.person.gender}}</td>
									<td>{{patient.person.age}}</td>
			                    </tr>
							</tbody>
						</table>
					</div>

					<br>
					

					<br>
					<div class="row">
						<div class="col-sm-6">
							<div class="dataTables_info" id="datatable-responsive_info" role="status" aria-live="polite">
								<p *ngIf="totalPatients > 10">Showing 1 to 10 of {{ totalPatients }} entries</p> 
								<p *ngIf="totalPatients < 10">Showing {{ totalPatients }} of {{ totalPatients }} entries</p>  
							</div>
						</div>
						<div class="col-sm-6 dataTables_paginate paging_bootstrap">
							<pagination-controls (pageChange)="page = $event" style="cursor: pointer;"></pagination-controls>
						</div>
                    </div>
				</div>                
			</div>

			

		</div>
	</div>
</div>