<div id="page-content-wrapper">
	<div id="page-content">            
		<div class="container">
			<div id="page-title">
				<h2>PATIENT SEARCH</h2>
				<p>Patient Search</p>
			</div>

			<div class="row">
				<h5 class="mrg10A">6 results found</h5>
			</div>
			<br>

		    <div class="row">
		    	<div class="col-md-4">		    	
	                <div class="input-group">
	                    <input class="form-control" type="text" [(ngModel)]="searchString" placeholder="Enter Patient Identifier or Patient Name">
	                    <span class="input-group-btn">
	                        <button class="btn btn-primary" type="button" (click)="loadPatient()">
	                        	<b><small>Search</small></b>
	                        </button>
	                    </span>
	                </div>
	            </div>
	            <div class="col-md-4">
	            	<button class="btn btn-primary" type="button" routerLink="/mrsbora/patient-new">
                    	 <i class="glyph-icon icon-plus"></i>&nbsp;<small>New Patient</small>
                    </button>
	            </div>
			</div>

			<br>
			<div class="row">
				<div class="example-box-wrapper">
		            <div class="scroll-columns">
		                <table id="datatable-responsive" class="table table-striped table-bordered responsive no-wrap dataTable dtr-inline" cellspacing="0" width="100%" role="grid" aria-describedby="datatable-responsive_info" style="width: 100%;">
		                    <thead class="cf">
		                    <tr>
		                        <th><small>IDENTIFIER</small></th>
							    <th><small>GIVEN NAME</small></th>
							    <th><small>MIDDLE NAME</small></th>
							    <th><small>FAMILY NAME</small></th>
							    <th><small>AGE</small></th>
							    <th><small>GENDER</small></th>
							    <th><small>BIRTH DATE</small></th>
							    <th><small>OPTIONS</small></th>
		                    </tr>
		                    </thead>
		                    <tbody>
		                    <tr style="cursor: pointer;">
		                        <td>Tiger Nixon</td>
							    <td>System Architect</td>
							    <td>Edinburgh</td>
							    <td>61</td>
							    <td>2011/04/25</td>
							    <td>$320,800</td>
							    <td>2011/04/25</td>
							    <td><span><a routerLink="/mrsbora/reception/new">Select</a></span></td>
		                    </tr>
		                    <tr style="cursor: pointer;">
							    <td>Garrett Winters</td>
							    <td>Accountant</td>
							    <td>Tokyo</td>
							    <td>63</td>
							    <td>2011/07/25</td>
							    <td>$170,750</td>
							    <td>2011/04/25</td>
							    <td><span><a routerLink="/mrsbora/reception/new">Select</a></span></td>
							</tr>
							<tr>
							    <td>Garrett Winters</td>
							    <td>Accountant</td>
							    <td>Tokyo</td>
							    <td>63</td>
							    <td>2011/07/25</td>
							    <td>$170,750</td>
							    <td>2011/04/25</td>
							    <td><span><a routerLink="/mrsbora/reception/new">Select</a></span></td>
							</tr>
							<tr>
							    <td>Garrett Winters</td>
							    <td>Accountant</td>
							    <td>Tokyo</td>
							    <td>63</td>
							    <td>2011/07/25</td>
							    <td>$170,750</td>
							    <td>2011/04/25</td>
							    <td><span><a routerLink="/mrsbora/reception/new">Select</a></span></td>
							</tr>
							<tr>
							    <td>Garrett Winters</td>
							    <td>Accountant</td>
							    <td>Tokyo</td>
							    <td>63</td>
							    <td>2011/07/25</td>
							    <td>$170,750</td>
							    <td>2011/04/25</td>
							    <td><span><a routerLink="/mrsbora/reception/new">Select</a></span></td>
							</tr>
							<tr>
							    <td>Garrett Winters</td>
							    <td>Accountant</td>
							    <td>Tokyo</td>
							    <td>63</td>
							    <td>2011/07/25</td>
							    <td>$170,750</td>
							    <td>2011/04/25</td>
							    <td><span><a routerLink="/mrsbora/reception/new">Select</a></span></td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>                
			</div>

			

		</div>
	</div>
</div>