<div class="row col-md-12">
    <br>
    <div class="panel">
        <div class="panel-body">            
            <div class="example-box-wrapper">
                
                <div class="row">
                    <h5 class="mrg10A">
                            <i class="glyph-icon icon-bars"></i> &nbsp;
                            <b>36 Patients in Queue</b>
                        </h5>
                </div>
                <br>

                 <div class="row">
                    <div class="col-md-4">              
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Enter Patient Identifier or Patient Name">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">
                                    <b><small>Search</small></b>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary" type="button" routerLink="/mrsbora/patient-new">
                             <i class="glyph-icon icon-plus"></i>&nbsp;<small>Add to Queue</small>
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="panel-body">                            
                        <div class="example-box-wrapper">
                            <div class="list-group">
                                <a routerLink="/mrsbora/patient-dashboard/" class="list-group-item">1. MIGO HUSSEIN EL SAFRA (UPN: KLM0098-123)<span class="badge bg-azure">Tue Jun 16 2009 10:00:10 GMT-0400</span></a>
                                <a routerLink="/mrsbora/patient-dashboard/" class="list-group-item">2. JOHN OMUGA  JACKTONE (UPN: KLM0328-121)<span class="badge bg-azure">Tue Jun 16 2009 10:12:10 GMT-0400</span></a>
                                <a routerLink="/mrsbora/patient-dashboard/" class="list-group-item">3. QUEENSLY OLILO (UPN: KLM666-097)<span class="badge bg-azure">Tue Jun 16 2009 10:32:10 GMT-0400</span></a>
                                <a routerLink="/mrsbora/patient-dashboard/" class="list-group-item">4. JANE SHERYL OJWANG (UPN: KLM0954-109)<span class="badge bg-azure">Tue Jun 16 2009 10:40:10 GMT-0400</span></a>
                                <a routerLink="/mrsbora/patient-dashboard/" class="list-group-item">5. MURKOMEN AGATHA (UPN: KLM005-876)<span class="badge bg-azure">Tue Jun 16 2009 10:47:10 GMT-0400</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                              
            </div>
        </div>
</div>