<div class="row col-md-12">
    <br>
    <div class="panel">
        <div class="panel-body">            
            <div class="example-box-wrapper">
                <div class="row">
                    <h5 class="mrg10A">
                        <i class="glyph-icon icon-area-chart"></i> &nbsp;
                        <b>Reports</b>
                    </h5>               
                </div>
            </div>

            <div class="col-md-3">  
                </div>
                <div class="col-md-6">    
                    <div class="list-group">
                    <a routerLink="/mrsbora/no-content" class="list-group-item">Current on ART</a>
                    <a routerLink="/mrsbora/no-content" class="list-group-item">VL Trends</a>
                    <a routerLink="/mrsbora/no-content" class="list-group-item">Supression Rates</a>      
                    <a routerLink="/mrsbora/no-content" class="list-group-item">Retention</a>
                    <a routerLink="/mrsbora/no-content" class="list-group-item">FP Uptake</a>
                    <a routerLink="/mrsbora/no-content" class="list-group-item">FP Uptake</a>
                    </div>
                </div>
                <div class="col-md-3">  
                </div>
                              
            </div>
        </div>
</div>