<div id="sb-site">
    <div id="page-wrapper">
    <div id="page-header" class="bg-gradient-9">
    <div id="mobile-navigation">
        <button id="nav-toggle" class="collapsed" data-toggle="collapse" data-target="#page-sidebar"><span></span></button>
        <a href="index.html" class="logo-content-small" title="MonarchUI"></a>
    </div>

    <div id="header-logo" class="logo-bg">
    	<a href="#" class="logo-content-big" title="POCUI"></a>
    </div>

    <div id="header-nav-left">
        <div class="user-account-btn dropdown">
            <a href="#" title="My Account" class="user-profile clearfix" data-toggle="dropdown">
                <img width="28" src="./app/assets/image-resources/user.png" alt="Profile image">
                <span>Administrator</span>
                <i class="glyph-icon icon-angle-down"></i>
            </a>
            <div class="dropdown-menu float-left">
                <div class="box-sm">
                    <div class="login-box clearfix">
                        <div class="user-img">
                            <a href="#" title="" class="change-img">Change photo</a>
                            <img src="./app/assets/image-resources/user.png" alt="">
                        </div>
                        <div class="user-info">
                            <span>
                                Administrator
                                <i>Service Provider</i>
                            </span>
                            <a href="#" title="Edit profile">Edit profile</a>
                            <a href="#" title="View notifications">View notifications</a>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <ul class="reset-ul mrg5B">
                        <li>
                            <a href="#">
                                <i class="glyph-icon float-right icon-caret-right"></i>
                                View account details
                                
                            </a>
                        </li>
                    </ul>
                    <div class="pad5A button-pane button-pane-alt text-center">
                        <a href="#" class="btn display-block font-normal btn-danger">
                            <i class="glyph-icon icon-power-off"></i>
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="header-nav-right">
        <a href="#" class="hdr-btn popover-button" title="Search" data-placement="bottom" data-id="#popover-search">
            <i class="glyph-icon icon-search"></i>
        </a>

        <!-- Search -->
        <div class="hide" id="popover-search">
            <div class="pad5A box-md">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search terms here ...">
                    <span class="input-group-btn">
                        <a class="btn btn-primary" href="#">Search</a>
                    </span>
                </div>
            </div>
        </div>

        <div class="dropdown" id="notifications-btn">
            <a data-toggle="dropdown" href="#" title="">
                <span class="small-badge bg-yellow"></span>
                <i class="glyph-icon icon-linecons-megaphone"></i>
            </a>
            <div class="dropdown-menu box-md float-right">

                <div class="popover-title display-block clearfix pad10A">
                    Notifications
                    <a class="text-transform-cap font-primary font-normal btn-link float-right" href="#" title="View more options">
                        More notifications...
                    </a>
                </div>
                <div class="scrollable-content scrollable-slim-box">
                    <ul class="no-border notifications-box">
                        <li>
                            <span class="bg-danger icon-notification glyph-icon icon-bullhorn"></span>
                            <span class="notification-text">HB test lab order for KLM1003-987 has errors</span>
                            <div class="notification-time">
                                a few seconds ago
                                <span class="glyph-icon icon-clock-o"></span>
                            </div>
                        </li>
                        <li>
                            <span class="bg-warning icon-notification glyph-icon icon-users"></span>
                            <span class="notification-text font-blue">VL results for KLM100-222 is pending</span>
                            <div class="notification-time">
                                <b>15</b> minutes ago
                                <span class="glyph-icon icon-clock-o"></span>
                            </div>
                        </li>
                        <li>
                            <span class="bg-green icon-notification glyph-icon icon-sitemap"></span>
                            <span class="notification-text font-green">Scrag results for KLM100-222 is ready</span>
                            <div class="notification-time">
                                <b>2 hours</b> ago
                                <span class="glyph-icon icon-clock-o"></span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="pad10A button-pane button-pane-alt text-center">
                    <a href="#" class="btn btn-primary" title="View all notifications">
                        View all notifications
                    </a>
                </div>
            </div>
        </div>

        <div class="dropdown" id="dashnav-btn">
            <a href="#" data-toggle="dropdown" data-placement="bottom" class="popover-button-header tooltip-button" title="Dashboard Quick Menu">
                <i class="glyph-icon icon-linecons-cog"></i>
            </a>
            <div class="dropdown-menu float-right">
                <div class="box-sm">
                    <div class="pad5T pad5B pad10L pad10R dashboard-buttons clearfix">
                        <a href="#" class="btn vertical-button hover-blue-alt" title="">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="glyph-icon icon-dashboard opacity-80 font-size-20"></i>
                            </span>
                            Dashboard
                        </a>
                        <a href="#" class="btn vertical-button hover-green" title="">
                            <span class="glyph-icon icon-separator-vertical pad0A medium">
                                <i class="glyph-icon icon-tags opacity-80 font-size-20"></i>
                            </span>
                            Reports
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <a class="header-btn" id="logout-btn" href="lockscreen-3.html" title="Lock Screen">
            <i class="glyph-icon icon-linecons-lock"></i>
        </a>
    </div>    
</div>

	<!-- Side Bar -->
    <div id="page-sidebar">
	    <div class="scroll-sidebar">
		    <ul id="sidebar-menu">
		    <li class="header"><span>Overview</span></li>
		    <li>
		        <a href="index.html" title="Admin Dashboard">
		            <i class="glyph-icon icon-linecons-tv"></i>
		            <span>Dashboard</span>
		        </a>
		    </li>
		    <li class="divider"></li>
		    <li class="no-menu">
		        <a href="https://agileui.com/demo/monarch/demo/frontend-template/index.html" title="Frontend template">
		            <i class="glyph-icon icon-area-chart"></i>
		            <span>Analytics</span>		            
		        </a>
		    </li>
		    <li class="divider"></li>
		    <li class="no-menu">
		        <a href="https://agileui.com/demo/monarch/demo/frontend-template/index.html" title="Frontend template">
		            <i class="glyph-icon icon-th"></i>
		            <span>Charts & Tables</span>		            
		        </a>
		    </li>
		    <li class="divider"></li>

		    <li class="header"><span>Patient</span></li>
		    <li>
		        <a href="index.html" title="Admin Dashboard">
		            <i class="glyph-icon icon-plus"></i>
		            <span>New Patient</span>
		        </a>
		    </li>
		    <li class="divider"></li>
		    <li>
		        <a href="index.html" title="Admin Dashboard">
		            <i class="glyph-icon icon-search"></i>
		            <span>Search Patient</span>
		        </a>
		    </li>
		    <li class="divider"></li>

		    <li class="header"><span>Reports</span></li>
			<li>
				<a href="#" title="Maps">
					<i class="glyph-icon icon-file-pdf-o"></i>
					<span>Reports</span>
				</a>
				<div class="sidebar-submenu">
					<ul>
						<li><a href="gmaps.html" title="gMaps"><span>gMaps</span></a></li>
						<li><a href="vector-maps.html" title="Vector maps"><span>Vector maps</span></a></li>
						<li><a href="mapael.html" title="Mapael"><span>Mapael</span></a></li>
					</ul>
				</div><!-- .sidebar-submenu -->
			</li>

		    <li class="header"><span>Settings</span></li>
		    <li>
		    	<a href="index.html" title="Admin Dashboard">
		            <i class="glyph-icon icon-book"></i>
		            <span>Manage Concepts</span>		            
		        </a>
		    </li>
		    <li class="divider"></li>
		    <li>
		        <a href="index.html" title="Admin Dashboard">
		            <i class="glyph-icon icon-users"></i>
		            <span>Manage Accounts</span>
		        </a>
		    </li>
		    <li class="divider"></li>
		    <li class="no-menu">
		        <a href="https://agileui.com/demo/monarch/demo/frontend-template/index.html" title="Frontend template">
		            <i class="glyph-icon icon-gears"></i>
		            <span>Manage System</span>		            
		        </a>
		    </li>
			</ul>
		</div>
		</div>

		<div id="page-content-wrapper">
        <div id="page-content">            
        <div class="container">
        	<div id="page-title">
		    <h2>MRS BORA Dashboard</h2>
		    <p>Use this dashboard to access analytics, statistics and summaries</p>
			</div>

			<div class="row">
			    <div class="col-md-4">
			        <div class="dashboard-box dashboard-box-chart bg-white content-box">
			            <div class="content-wrapper">
			                <div class="header">
			                    34,657
			                    <span>Total Enrollments<b> in last</b> 1 <b>Year</b></span>
			                </div>
			                <div class="bs-label bg-green">+18%</div>
			                <div class="center-div sparkline-big-alt">1245,1450,1312,1121,986,1489</div>
			                <div class="row list-grade">
			                    <div class="col-md-2">January</div>
			                    <div class="col-md-2">February</div>
			                    <div class="col-md-2">March</div>
			                    <div class="col-md-2">April</div>
			                    <div class="col-md-2">May</div>
			                    <div class="col-md-2">June</div>
			                </div>
			            </div>
			            <div class="button-pane">
			                <div class="size-md float-left">
			                    <a href="#" title="">
			                        Enrollment Statistics
			                    </a>
			                </div>
			                <a href="#" class="btn btn-default float-right tooltip-button" data-placement="top" title="View details">
			                    <i class="glyph-icon icon-angle-right"></i>
			                </a>
			            </div>
			        </div>
			    </div>

			    <div class="col-md-4">
			        <div class="dashboard-box dashboard-box-chart bg-white content-box">
			            <div class="content-wrapper">
			                <div class="header">
			                    169
			                    <span>Current on Care<b> in last</b> 7 week days</span>
			                </div>
			                <div class="bs-label bg-red">-14%</div>
			                <div class="center-div sparkline-big-alt">21,41,31,50,18</div>
			                <div class="row list-grade">
			                    <div class="col-md-2">M</div>
			                    <div class="col-md-2">T</div>
			                    <div class="col-md-2">W</div>
			                    <div class="col-md-2">T</div>
			                    <div class="col-md-2">F</div>
			                </div>
			            </div>
			            <div class="button-pane">
			                <div class="size-md float-left">
			                    <a href="#" title="">
			                        Current on Care Statistics
			                    </a>
			                </div>
			                <a href="#" class="btn btn-default float-right tooltip-button" data-placement="top" title="View details">
			                    <i class="glyph-icon icon-angle-right"></i>
			                </a>
			            </div>
			        </div>
			    </div>

			    <div class="col-md-4">
			        <div class="dashboard-box dashboard-box-chart bg-white content-box">
			            <div class="content-wrapper">
			                <div class="header">
			                    24
			                    <span>TB Prophylaxis <b> in last</b> 5 week days</span>
			                </div>
			                <div class="bs-label bg-orange">-5%</div>
			                <div class="center-div sparkline-big-alt">4,3,1,8,8</div>
			                <div class="row list-grade">
			                    <div class="col-md-2">M</div>
			                    <div class="col-md-2">T</div>
			                    <div class="col-md-2">W</div>
			                    <div class="col-md-2">T</div>
			                    <div class="col-md-2">F</div>
			                </div>
			            </div>
			            <div class="button-pane">
			                <div class="size-md float-left">
			                    <a href="#" title="">
			                        TB Statistics
			                    </a>
			                </div>
			                <a href="#" class="btn btn-default float-right tooltip-button" data-placement="top" title="View details">
			                    <i class="glyph-icon icon-angle-right"></i>
			                </a>
			            </div>
			        </div>
			    </div>
			</div>

			<div class="row">
			    <div class="col-md-8">      

			        <div class="row">
			            <div class="col-md-4">
			                <a href="#" title="Example tile shortcut" class="tile-box tile-box-alt btn-success">
			                    <div class="tile-header">
			                        ANC Enrollments
			                    </div>
			                    <div class="tile-content-wrapper">
			                        <div class="chart-alt-10" data-percent="43"><span>43</span>%</div>
			                    </div>
			                </a>
			            </div>
			            <div class="col-md-4">
			                <a href="#" title="Example tile shortcut" class="tile-box tile-box-alt btn-info">
			                    <div class="tile-header">
			                        HEI Enrollments
			                    </div>
			                    <div class="tile-content-wrapper">
			                        <div class="chart-alt-10" data-percent="76"><span>76</span>%</div>
			                    </div>
			                </a>
			            </div>
			            <div class="col-md-4">
			                <a href="#" title="Example tile shortcut" class="tile-box tile-box-alt btn-warning">
			                    <div class="tile-header">
			                        VMMC Enrollments
			                    </div>
			                    <div class="tile-content-wrapper">
			                        <div class="chart-alt-10" data-percent="11"><span>11</span>%</div>
			                    </div>
			                </a>
			            </div>
			        </div>

			        <div class="panel">
			            <div class="panel-body">
			                <h3 class="title-hero">
			                    Recent Enrollment Activity
			                </h3>
			                <div class="example-box-wrapper">
			                    <div id="data-example-1" class="mrg20B" style="width: 100%; height: 300px;"></div>
			                </div>
			            </div>
			        </div>

			    </div>
			    <div class="col-md-4">
			    	<div class="panel">
			            <div class="panel-body">
			                <h3 class="title-hero">
			                    APPOINTMENTS LIST
			                </h3>
			                <div class="example-box-wrapper">
			                	<div class="timeline-box timeline-box-left">
			                        <div class="tl-row">
			                            <div class="tl-item float-right">
			                                <div class="tl-icon bg-red">
			                                    <i class="glyph-icon icon-toggle-on"></i>
			                                </div>
			                                <div class="popover right">
			                                    <div class="arrow"></div>
			                                    <div class="popover-content">
			                                        <div class="tl-label bs-label label-info">Appointments Today</div>
			                                        <div class="tl-content">
			                                        	<ol>
				                                        	<li><a href="#"><b>DAVIDO OJWANG</b></a></li>
				                                        	<li><a href="#"><b>ROSE CHELAGAT</b></a></li>
				                                        	<li><a href="#"><b>MIKE RADINGO O.</b></a></li>
			                                        	</ol>
			                                        </div>
			                                    </div>
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                </div>
			            </div>
			        </div>
				</div>

			    
			</div>

			

		</div>
		</div>
		</div>

	

</div>
</div>