<div id="page-content-wrapper">
<div id="page-content">            
<div class="container">
	<div id="page-title">
		<h2>MRS BORA Dashboard</h2>
		<p>Use this dashboard to access analytics, statistics and summaries</p>
	</div>
	
<div class="row">
	    <div class="col-md-4">
	        <div class="dashboard-box dashboard-box-chart bg-white content-box">
	            <div class="content-wrapper">
	                <div class="header">
	                    34,657
	                    <span>Total Enrollments<b> in last</b> 1 <b>Year</b></span>
	                </div>
	                <div class="bs-label bg-green">+18%</div>
	                <div class="center-div sparkline-big-alt">1245,1450,1312,1121,986,1489</div>
	                <div class="row list-grade">
	                    <div class="col-md-2">January</div>
	                    <div class="col-md-2">February</div>
	                    <div class="col-md-2">March</div>
	                    <div class="col-md-2">April</div>
	                    <div class="col-md-2">May</div>
	                    <div class="col-md-2">June</div>
	                </div>
	            </div>
	            <div class="button-pane">
	                <div class="size-md float-left">
	                    <a href="#" title="">
	                        Enrollment Statistics
	                    </a>
	                </div>
	                <a href="#" class="btn btn-default float-right tooltip-button" data-placement="top" title="View details">
	                    <i class="glyph-icon icon-angle-right"></i>
	                </a>
	            </div>
	        </div>
	    </div>

	    <div class="col-md-4">
	        <div class="dashboard-box dashboard-box-chart bg-white content-box">
	            <div class="content-wrapper">
	                <div class="header">
	                    169
	                    <span>Current on Care<b> in last</b> 7 week days</span>
	                </div>
	                <div class="bs-label bg-red">-14%</div>
	                <div class="center-div sparkline-big-alt">21,41,31,50,18</div>
	                <div class="row list-grade">
	                    <div class="col-md-2">M</div>
	                    <div class="col-md-2">T</div>
	                    <div class="col-md-2">W</div>
	                    <div class="col-md-2">T</div>
	                    <div class="col-md-2">F</div>
	                </div>
	            </div>
	            <div class="button-pane">
	                <div class="size-md float-left">
	                    <a href="#" title="">
	                        Current on Care Statistics
	                    </a>
	                </div>
	                <a href="#" class="btn btn-default float-right tooltip-button" data-placement="top" title="View details">
	                    <i class="glyph-icon icon-angle-right"></i>
	                </a>
	            </div>
	        </div>
	    </div>

	    <div class="col-md-4">
	        <div class="dashboard-box dashboard-box-chart bg-white content-box">
	            <div class="content-wrapper">
	                <div class="header">
	                    24
	                    <span>TB Prophylaxis <b> in last</b> 5 week days</span>
	                </div>
	                <div class="bs-label bg-orange">-5%</div>
	                <div class="center-div sparkline-big-alt">4,3,1,8,8</div>
	                <div class="row list-grade">
	                    <div class="col-md-2">M</div>
	                    <div class="col-md-2">T</div>
	                    <div class="col-md-2">W</div>
	                    <div class="col-md-2">T</div>
	                    <div class="col-md-2">F</div>
	                </div>
	            </div>
	            <div class="button-pane">
	                <div class="size-md float-left">
	                    <a href="#" title="">
	                        TB Statistics
	                    </a>
	                </div>
	                <a href="#" class="btn btn-default float-right tooltip-button" data-placement="top" title="View details">
	                    <i class="glyph-icon icon-angle-right"></i>
	                </a>
	            </div>
	        </div>
	    </div>
	</div>

	<div class="row">
		<div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    Recent Enrollment Activity
                </h3>
                <div class="example-box-wrapper">
                    <div id="data-example-1" class="mrg20B" style="width: 100%; height: 300px;"></div>
                </div>
            </div>
        </div>     
	</div>

</div>
</div>
</div>