<br>
<h5><b>ENCOUNTERS</b></h5><div class="divider"></div>
<br>

<div class="col-md-3">  
</div>
<div class="col-md-3">    
    <div class="tile-content-wrapper">            
        <div class="content-box remove-border dashboard-buttons clearfix">
            <a routerLink="/mrsbora/patient-dashboard/ssd-encounters" class="btn vertical-button hover-black" title="">
                <span class="glyph-icon icon-separator-vertical">
                     <i class="glyph-icon icon-male"></i>
                </span>
                <span class="button-content">SSD</span>
            </a>
        </div>
    </div>
</div>
<div class="col-md-3">    
    <div class="tile-content-wrapper">            
        <div class="content-box remove-border dashboard-buttons clearfix">
            <a routerLink="/mrsbora/patient-dashboard/clinical-encounters" class="btn vertical-button hover-black" title="">
                <span class="glyph-icon icon-separator-vertical">
                    <i class="glyph-icon icon-user-md"></i>
                </span>
                <span class="button-content">CLINICAL</span>
            </a>
        </div>
    </div>
</div>
<div class="col-md-3">  
</div>

<br><br>