<div class="row col-md-12">
    <div class="panel">
        <div class="panel-body">            
            <div class="example-box-wrapper">
                <form class="form-horizontal bordered-row" id="demo-form" data-parsley-validate="" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><small>Temperature</small></label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Temperature" required="" class="form-control" data-parsley-id="6154"><ul class="parsley-errors-list" id="parsley-id-6154"></ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><small>Pulse</small></label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Pulse" required="" class="form-control" data-parsley-id="6154"><ul class="parsley-errors-list" id="parsley-id-6154"></ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><small>Respiratory rate</small></label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Respiratory rate" required="" class="form-control" data-parsley-id="6154"><ul class="parsley-errors-list" id="parsley-id-6154"></ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><small>BP</small></label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="BP" required="" class="form-control" data-parsley-id="6154"><ul class="parsley-errors-list" id="parsley-id-6154"></ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><small>Weight</small></label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Weight" required="" class="form-control" data-parsley-id="6154"><ul class="parsley-errors-list" id="parsley-id-6154"></ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><small>Height</small></label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Height" required="" class="form-control" data-parsley-id="6154"><ul class="parsley-errors-list" id="parsley-id-6154"></ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><small>BMI</small></label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="BMI" required="" class="form-control" data-parsley-id="6154"><ul class="parsley-errors-list" id="parsley-id-6154"></ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><small>Z-Score</small></label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Z-score" required="" class="form-control" data-parsley-id="6154"><ul class="parsley-errors-list" id="parsley-id-6154"></ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><small>MUAC</small></label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="MUAC" required="" class="form-control" data-parsley-id="6154"><ul class="parsley-errors-list" id="parsley-id-6154"></ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><small>Head Circum.</small></label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Head circumference" required="" class="form-control" data-parsley-id="6154"><ul class="parsley-errors-list" id="parsley-id-6154"></ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-6">
                                <button class="btn btn-default">
                                    <i class="glyph-icon icon-save"></i>
                                </button>
                                <button class="btn btn-default">
                                    <i class="glyph-icon icon-close"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>