<br>
<h5><b>SSD ENCOUNTERS</b></h5><div class="divider"></div>
<br>

<div class="row">   

    <div class="col-md-3">  
    </div>
    <div class="col-md-6">    
        <div class="list-group">
        <a routerLink="/mrsbora/no-content" class="list-group-item">Enrollment</a>
        <a routerLink="/mrsbora/no-content" class="list-group-item">ART Preparation</a>
        <a routerLink="/mrsbora/no-content" class="list-group-item">Adherence Counselling</a>
        <a routerLink="/mrsbora/no-content" class="list-group-item">Follow-up</a>
        <a routerLink="/mrsbora/no-content" class="list-group-item">Home Visits</a>
        <a routerLink="/mrsbora/no-content" class="list-group-item">Missed Appointments</a>
        <a routerLink="/mrsbora/no-content" class="list-group-item">Defaulters Matrix</a>
        </div>
    </div>
    <div class="col-md-3">  
    </div>

</div>